<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modelConfiguration" type="Ramco.VwPlf.Developerconsole.Custom.ModelConfiguration,Ramco.VwPlf.Developerconsole"/>
  </configSections>
  <modelConfiguration>
    <models>
      <modelInfo url="http://hcmmdbcnp01/rvw" username="10411" password="ramco@1234" maxinstance=""></modelInfo>
    </models>
  </modelConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies\FrameworkAssemblies;Assemblies\3rdPartyGenerators;Assemblies\CompilationAssemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="frequency" value="1"/>
    <add key="maxinstance" value="2"/>
    <add key="single" value="0"/>
    <add key="CompilationAssemblies" value="Assemblies\CompilationAssemblies"/>
    <add key="3rdPartyGenerators" value="Assemblies\3rdPartyGenerators"/>
  </appSettings>
</configuration>
