<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modelConfiguration" type="Ramco.VwPlf.CodeGenerator.NTService.Custom.ModelConfiguration,Ramco.VwPlf.CodeGenerator.NTService"/>
  </configSections>
  <modelConfiguration>
    <models>
      <modelInfo url="http://hcmmdbcnp01/rvw" username="10411" password="ramco@1234" maxinstance=""></modelInfo>
    </models>
  </modelConfiguration>
  <connectionStrings>
    <add name="constr" connectionString="wWgWG/t+vQ0+8N0V5e/sVk59fgdDKBfj/UyFYn7Jl7YlYky5utsr90x/cXoYsdsh1NF+2pKZ9+OcPRSFuokT2T2sN2aH/ZzyuPiuNg7a/1agZMZeqkjpPGgtX5idpnM/wy1SujP+oOPduNhAjG4YgMlPVy6Z9XYRc27v+fow2xGBJrpGu36CmPDpAtBA4SUOHX92mLEPMogPSUn8/hYYUjsaDNIkUp7BdW3Owp/jlD/VgaCAK6qgFJmL8pmD4tgnEQxVPR02lcLDvsUGdHMebHT3pJaZECkdDeX1PuV7MfV/cMg8e6zzmhgmHefhjxge"/>
    <add name="mailerconstr" connectionString="wWgWG/t+vQ0+8N0V5e/sVk59fgdDKBfj/UyFYn7Jl7YlYky5utsr90x/cXoYsdsh1NF+2pKZ9+OcPRSFuokT2T2sN2aH/ZzyuPiuNg7a/1bws9qWw5d5FH/768yl/3IJnb3FzGJaCGUiEkeQ1qLd1dZVXvUlGPTTXIM69TY/2jtOWomluypgusupWhndYneFmfU0dEonViCgVbs/GytcLBqRnZMvqI71jcB0jklAU3M++5uCER/tmr+oGGja5p09HBFmkcqB4Jh69IfAklh7f46lcbTqAVv3xvTfpTov2ZEFoheLZ8akLrN+/1++mm87"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies\FrameworkAssemblies;Assemblies\3rdPartyGenerators;Assemblies\CompilationAssemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--provide value in minutes eg., for two minutes, specify as 2-->
    <add key="frequency" value="1"/>
    <add key="maxinstance" value="2"/>
    <!--useful only when u r generating using console-->
    <add key="single" value="1"/>
    <add key="CompilationAssemblies" value="Assemblies\CompilationAssemblies"/>
    <add key="3rdPartyGenerators" value="Assemblies\3rdPartyGenerators"/>
    <add key="codegenBasePath" value="D:\deliverables\CodeGen"/>
    <add key="sharePath" value="\\techwarcnv18\deliverables\codegen"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
